/*
 * Colors:
 * Hydra red: #971e25
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page {
  margin: 0 auto;
  /* max-width: 600px; */
}

.section {
  padding: 20px 0;
  margin-bottom: 40px;
}

.form-select,
.form-input {
  vertical-align: bottom !important;
}


.col-main {
  width: 70% !important;
  /*float: left;*/
  margin-left: 3%;
  margin-right: 3%;
}

.col-right {
  width:  20% !important;
  margin-right: 3%;
}
