* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page {
  margin: 10px auto;
  padding: 20px 0;
  max-width: 600px;
}

.form-select {

}


.col-main {
  width: 70% !important;
  /*float: left;*/
  margin-left: 3%;
  margin-right: 3%;
}

.col-right {
  width:  20% !important;
  margin-right: 3%;
}
